---
title: OrderingList
section: demo
js_assets: [jquery-ui/jquery.ui.position.js,jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,jquery-ui/jquery.ui.mouse.js,jquery-ui/jquery.ui.button.js,jquery-ui/jquery.ui.selectable.js,jquery-ui/jquery.ui.sortable.js,richwidgets/select/orderingList.js ]
css_assets: [ richwidgets/select/select-list.css,richwidgets/select/ordering-list.css ]
---
<h2>OrderingList Demos</h2>

<h3>OrderingList in List mode:</h3>
<p>Using the orderingList plugin, we built a simple orderingList widget:</p>

<div class="container-fluid ">

  <div class="row">
    <div class="col col-lg-6">{{include "orderingList/list.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/list.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/list.js"}}{{/markdown}}</div>
  </div>

  <h3>OrderingList in List mode w/ drag select:</h3>
  <p>Using the orderingList plugin, we built a simple orderingList widget:</p>

  <div class="row">
    <div class="col col-lg-6">{{include "orderingList/list_drag.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/list_drag.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/list_drag.js"}}{{/markdown}}</div>
  </div>

  <h3>OrderingList in Table mode:</h3>
  <p>Using the orderingList plugin, we built a simple orderingList widget:</p>

  <div class="row">
    <div class="col col-lg-6">{{include "orderingList/table.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/table.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/table.js"}}{{/markdown}}</div>
  </div>

  <h3>OrderingList in Table mode w/ drag select:</h3>
  <p>Using the orderingList plugin, we built a simple orderingList widget:</p>

  <div class="row">
    <div class="col col-lg-6">{{include "orderingList/table_drag.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/table_drag.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/orderingList/table_drag.js"}}{{/markdown}}</div>
  </div>

  <script src="/assets-demo/select/orderingList/list.js"></script>
  <script src="/assets-demo/select/orderingList/list_drag.js"></script>
  <script src="/assets-demo/select/orderingList/table.js"></script>
  <script src="/assets-demo/select/orderingList/table_drag.js"></script>