---
title: OrderingList
section: demo
js_assets: [jquery-ui/jquery.ui.position.js,jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,jquery-ui/jquery.ui.mouse.js,jquery-ui/jquery.ui.button.js,jquery-ui/jquery.ui.selectable.js,jquery-ui/jquery.ui.sortable.js,richwidgets/select/ordering-list.js ]
css_assets: [ richwidgets/select/select-list.css,richwidgets/select/ordering-list.css ]
---
<h2>OrderingList Demos</h2>

<p>
{{#markdown}}
The orderingList is a widget use to manually sort elements in a list, supporting both a list layout and
a table layout.  It is based on the jQuery UI [sortable](http://jqueryui.com/sortable/) and [selectable](http://jqueryui.com/selectable/)
plugins.
{{/markdown}}
</p>

<h3>OrderingList in List mode:</h3>
<p>A simple orderingList widget with items laid out in list format.  To use the widget, simply invoke the plugin passing
in a reference to the <code>&lt;ol&gt;</code> element that identifies your list element.  The widget will create any additional
DOM nodes required to enable user interactions.</p>

<div class="container-fluid ">

  <div class="row">
    <div class="col col-lg-6">{{include "ordering-list/list.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/list.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/list.js"}}{{/markdown}}</div>
  </div>

  <h3>OrderingList in List mode w/ drag select:</h3>

  <p>The orderingList supports a <code>dragSelect</code> mode of operation, where the drag and drop clickable area is
  limited to the drag handles, allowing the rest of the item real estate to trigger selection by click and drag of
  the mouse.</p>

  <div class="row">
    <div class="col col-lg-6">{{include "ordering-list/list_drag.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/list_drag.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/list_drag.js"}}{{/markdown}}</div>
  </div>

  <h3>OrderingList in Table mode:</h3>

  <p>Should your use case require the ordered display if item metadata, use the orderingList in a table layout.</p>

  <div class="row">
    <div class="col col-lg-6">{{include "ordering-list/table.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/table.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/table.js"}}{{/markdown}}</div>
  </div>

  <h3>OrderingList in Table mode w/ drag select:</h3>

  <p>The table layout similarly supports the <code>dragSelect</code> mode of operation.</p>

  <div class="row">
    <div class="col col-lg-6">{{include "ordering-list/table_drag.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/table_drag.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/ordering-list/table_drag.js"}}{{/markdown}}</div>
  </div>

  <script src="{{assets-demo}}/select/ordering-list/list.js"></script>
  <script src="{{assets-demo}}/select/ordering-list/list_drag.js"></script>
  <script src="{{assets-demo}}/select/ordering-list/table.js"></script>
  <script src="{{assets-demo}}/select/ordering-list/table_drag.js"></script>