---
title: PickList
section: demo
js_assets: [jquery-ui/jquery.ui.position.js,jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,jquery-ui/jquery.ui.mouse.js,jquery-ui/jquery.ui.button.js,jquery-ui/jquery.ui.selectable.js,jquery-ui/jquery.ui.sortable.js,richwidgets/select/ordering-list.js,richwidgets/select/pick-list.js ]
css_assets: [ richwidgets/select/select-list.css,richwidgets/select/ordering-list.css,richwidgets/select/pick-list.css ]
---
<h2>PickList Demos</h2>

<p>The pickList is similar to an HTML multi-select list, in that it allows the user to select multiple items from a list
of possible options.  In addition, it supports optionally arranging the order of the selected items.</p>

<h3>PickList in List mode:</h3>

<p>A simple orderingList widget with items laid out in list format.  To use the widget, simply invoke the plugin passing
in a reference to the <code>&lt;ol&gt;</code> element that identifies your list element.  The widget will create any additional
DOM nodes required to enable user interactions.</p>


{{include "pick-list/list.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pick-list/list.html"}}{{/markdown}}</div>
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pick-list/list.js"}}{{/markdown}}</div>
</div>

<h3>PickList in Table mode:</h3>

<p>Should your use case require the ordered display if item metadata, use the orderingList in a table layout.</p>

{{include "pick-list/table.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pick-list/table.html"}}{{/markdown}}</div>
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pick-list/table.js"}}{{/markdown}}</div>
</div>

<script src="{{assets-demo}}/select/pick-list/list.js"></script>
<script src="{{assets-demo}}/select/pick-list/table.js"></script>