---
title: PickList
section: demo
js_assets: [jquery-ui/jquery.ui.position.js,jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,jquery-ui/jquery.ui.mouse.js,jquery-ui/jquery.ui.button.js,jquery-ui/jquery.ui.selectable.js,jquery-ui/jquery.ui.sortable.js,richwidgets/select/orderingList.js,richwidgets/select/pickList.js ]
css_assets: [ richwidgets/select/select-list.css,richwidgets/select/ordering-list.css,richwidgets/select/pick-list.css ]
---
<h2>PickList Demos</h2>

<h3>PickList in List mode:</h3>
<p>Using the pickList plugin, we built a simple pickList widget:</p>

{{include "pickList/list.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pickList/list.html"}}{{/markdown}}</div>
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pickList/list.js"}}{{/markdown}}</div>
</div>

<h3>PickList in List mode:</h3>

{{include "pickList/table.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pickList/table.html"}}{{/markdown}}</div>
  <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/select/pickList/table.js"}}{{/markdown}}</div>
</div>

<script src="{{assets-demo}}/select/pickList/list.js"></script>
<script src="{{assets-demo}}/select/pickList/table.js"></script>