---
title: ButtonGroup
section: demo
js_assets: [jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,richwidgets/buttons/button-group.js]
css_includes: [ buttons/button-group/group.css ]
css_assets: [ richwidgets/buttons/button-group.css ]
---
<h2>Button Group Demos</h2>

<h3>Basic Button Group</h3>

{{include "button-group/group.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-10">{{#markdown}}{{embed "src/demos/pages/buttons/button-group/group.html"}}{{/markdown}}</div>
</div>

<h3>Dropdown</h3>

{{include "button-group/group-dropdown.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-10">{{#markdown}}{{embed "src/demos/pages/buttons/button-group/group-dropdown.html"}}{{/markdown}}</div>
</div>

<h3>Styling buttons</h3>

<p>The default style of the buttons can be changed.</p>

{{include "button-group/group-buttons.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-10">{{#markdown}}{{embed "src/demos/pages/buttons/button-group/group-buttons.html"}}{{/markdown}}</div>
</div>

<h3>Vertical Button Group</h3>

{{include "button-group/group-vertical.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-10">{{#markdown}}{{embed "src/demos/pages/buttons/button-group/group-vertical.html"}}{{/markdown}}</div>
</div>

<h3>Sizing</h3>

{{include "button-group/group-sizes.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-10">{{#markdown}}{{embed "src/demos/pages/buttons/button-group/group-sizes.html"}}{{/markdown}}</div>
</div>

<h3>Justified links</h3>

<p>The button group can stretch across the available width. (Only works for <code>&lt;a&gt;</code>.)</p>

{{include "button-group/group-justified.html"}}

<h4>Source:</h4>
<div class="row">
  <div class="col col-md-10">{{#markdown}}{{embed "src/demos/pages/buttons/button-group/group-justified.html"}}{{/markdown}}</div>
</div>