---
title: Autocomplete
section: demo
js_assets: [jquery-ui/jquery.ui.position.js,jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,jquery-ui/jquery.ui.menu.js,jquery-ui/jquery.ui.autocomplete.js,richwidgets/input/autocomplete.js ]
css_assets: [ richwidgets/input/autocomplete.css ]

demos: [
  { id: 'json-source', title: 'Using JSON as a source of suggestions' },
  { id: 'function-source', title: 'Using a function as a source of suggestions'},
  { id: 'list', title: 'Using a ordered/unordered list as a source of suggestions' },
  { id: 'table', title: 'Table layout with a table as a source of suggestions' },
  { id: 'cache', title: 'Simulating request delay with cached ajax mode' },
  { id: 'auto-focus', title: 'Auto-Focus' },
  { id: 'auto-fill', title: 'Auto-Fill' },
  { id: 'auto-focus-fill', title: 'Auto-Focus Auto-Fill' },
  { id: 'token', title: 'Support for tokenizing' },
  { id: 'button', title: 'Autocomplete can have a button' },
  { id: 'list-updates', title: 'Updating of DOM-based suggestions' }
]
---

  <h2>Autocomplete demos</h2>

  {{#each demos}}
  <fieldset>
    <legend>{{this.title}}</legend>



    <div class="row">
      <div class="col col-md-6">

        <div class="panel panel-default">
          <div class="panel-body">
            {{include "autocomplete/{{this.id}}.html" ../page}}
            <script src="{{assets-demo ../page/dirname}}/input/autocomplete/{{this.id}}.js"></script>
          </div>
          <div class="panel-footer">
            {{include "autocomplete/{{this.id}}-description.html" ../page}}
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        {{set 'html_source' "src/demos/pages/input/autocomplete/{{this.id}}.html" }}
        {{set 'js_source' "src/demos/pages/input/autocomplete/{{this.id}}.js" }}
        {{#markdown}}{{embed html_source}}{{/markdown}}
        {{#markdown}}{{embed js_source}}{{/markdown}}
      </div>

    </div>

    <!--<h4>Source:</h4>-->
    <!--<div class="row">-->
      <!--{{set 'html_source' "src/demos/pages/input/autocomplete/{{this.id}}.html" }}-->
      <!--{{set 'js_source' "src/demos/pages/input/autocomplete/{{this.id}}.js" }}-->
      <!--<div class="col col-md-6">{{#markdown}}{{embed html_source}}{{/markdown}}</div>-->
      <!--<div class="col col-md-6">{{#markdown}}{{embed js_source}}{{/markdown}}</div>-->
    <!--</div>-->
  </fieldset>
  {{/each}}
