---
title: Tabs
section: demo
js_assets: [jquery-ui/jquery.ui.position.js,jquery-ui/jquery.ui.core.js,jquery-ui/jquery.ui.widget.js,jquery-ui/jquery.ui.tabs.js,richwidgets/tabs/tabs.js ]
css_assets: [ richwidgets/tabs/tabs.css ]
css_includes: [ tabs/tabs/tabs.css ]
---

<h3>Tabs</h3>

  <p></p>

  <div class="row">
    <div class="col col-lg-6">{{include "tabs/tabs1.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/tabs/tabs/tabs1.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/tabs/tabs/tabs1.js"}}{{/markdown}}</div>
  </div>

<h3>Tabs</h3>

  <p></p>

  <div class="row">
    <div class="col col-lg-6">{{include "tabs/tabs-left.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/tabs/tabs/tabs-left.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/tabs/tabs/tabs-left.js"}}{{/markdown}}</div>
  </div>

<h3>Tabs</h3>

  <p></p>

  <div class="row">
    <div class="col col-lg-6">{{include "tabs/tabs.html"}}</div>
  </div>

  <h4>Source:</h4>

  <div class="row">
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/tabs/tabs/tabs.html"}}{{/markdown}}</div>
    <div class="col col-md-6">{{#markdown}}{{embed "src/demos/pages/tabs/tabs/tabs.js"}}{{/markdown}}</div>
  </div>
  
<script src="{{assets-demo}}/tabs/tabs/tabs.js"></script>
<script src="{{assets-demo}}/tabs/tabs/tabs-left.js"></script>
<script src="{{assets-demo}}/tabs/tabs/tabs1.js"></script>